/* Medium devices : tablets  & Phones */
@media (max-width: 992px) {

    body {
        font-size: 22px;
    }

    .logo { 
        width:150px;
    }

    #filters > h1 {
        font-size:26px;
    }

    .form {
        height:65px;
        font-size: inherit;
    }

    .form-icon {
        min-width:65px;
    }
        
    .filters-btn-container {
        font-size: inherit;
    }

    .filters-footer-icon {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }

    .filters-footer p {
        font-size: 22px;
    }

    .acc-container {
        width: 48.5%;
    }

    .acc-card {
        width: 100%;
        font-size: 16px;
    }

    .pop-card {
        height: 200px;
        font-size: 16px;
    }

}

/* Small devices : phones */
@media (max-width: 768px) {

    /* ------ BASE ------ */
    body {
        font-size: 32px;
    }

    .container {
        padding:0;
    }

    /* ------ HEADER ------ */
    header .container {
        flex-direction: column;
        justify-content: space-between;
        height: 265px;
    }

    .logo { 
        margin: auto 0;
        width: 200px;
    }

    nav { 
        width:100%;
    }

    nav li { 
        flex:1;
        text-align: center;
    }

    nav a {
        border-top-color: transparent;
        border-bottom-color:#F2F2F2;
        border-width: 5px;
        padding: 30px 0;
    }
    
    nav a:hover, .link-active {
        border-bottom-color:#0065FC;
        border-top-color:transparent;
        color: #0065FC;
    }

    /* FILTERS */
    #filters {
        width: 89%;
        margin-top: 65px;
        margin-bottom: 40px;
        margin-inline: auto;
    }

    #filters > h1 {
        font-size: 44px;
    }
    
    #filters p {
        margin: 25px 0;
    }
    
    .form {
        margin: 70px 0 45px 0;
        height:100px;
        font-size: 35px;
    }
    
    .form-icon {
        min-width:100px;
        border-radius: 35px 0px 0px 35px;
    }
    
    .form-input {
        padding-left:35px;
        height:100px;
    }

    .form-btn {
        min-width: 100px;
        border-radius: 35px;
        transform: translateX(-35px);
    }

    .form-btn-mobile { 
        display: inline-block;
    }

    .form-btn-desktop { 
        display: none;
    }

    /* FILTERS BTN */
    .filters-btn-container {
        gap:22px;
        font-size: 32px;
    }
    
    .filters-btn-container p {
        font-size:35px;
        display: block;
        width:100%;
    }
    
    .filters-btn {
        height: 100px;
        border-width: 3px;
        border-radius: 50px;
    }
    
    .filters-btn i { 
        transform: translateX(-4px);
        width: 100px;
        height: 100px;
    }
    
    .filters-btn span {
        padding:0 30px 0 12px;
    }

    /* FILTERS FOOTER */
    .filters-footer {
        margin: 40px 0;
        align-items: baseline;   
    }

    .filters-footer p {
        font-size: 32px;
    }

    .filters-footer-icon {
        width: 50px ;
        height: 50px;
        border-width: 2px;
        font-size: 25px;
        margin-right: 10px;
        /* ? centrage vertical */
        padding: 0 20px; 
    }

    /* ACCOMODATIONS */
    #accomodations {
        flex-direction: column-reverse;
    }

    #accomodations h2 {
        font-size: 43px;
    }

    .acc-container {
        width:100%;
        border-radius:0;
        padding-top: 45px;
        background-color: #fff;
    }

    .acc-footer a {
        font-size: 35px;
    }
    .acc-card {
        width: 100%;
        height: 400px;
        border-radius: 40px;
        padding: 9px;
        font-size: 27px;
        /* box-shadow: 0px 0px 20px #ddd; */
    }

    .acc-card-img {
        border-radius: 30px 30px 0 0;
        height: 225px;
    }

    .acc-card-body {
        padding: 15px 22px;
    }

    .acc-card-body .fa-star {
        font-size: 24px;
        padding-right: 1px;
        padding-top: 12px;
    }

    /* POPULAR */
    .pop-container {
        border-radius:0;
        padding: 45px 40px;
    }

    .pop-header > i {
        font-size: 40px;
        padding: 2px;
    }

    .pop-list {
        padding:20px 0;
        gap: 22px;
    }
    
    .pop-card {
        height: 288px;
        width: 100%;
        border-radius: 40px;
        padding: 10px;
        font-size: 28px;
    }

    .pop-card-img {
        border-radius: 30px 0 0 30px;
        width: 42%;
    }

    .pop-card-body {
        padding-top: 20px;
        padding-left: 40px;
    }


    .pop-card-body p {
        margin-top:20px;
    }

    .pop-card-body .fa-star {
        font-size: 22px;
        padding-right: 3px;
    }

    .pop-card-stars {
        left: 40px;
        bottom: 20px;
    }
}