/* Medium devices : tablets  & Phones */
@media (max-width: 992px) {

    body {
        font-size: 22px;
    }

    header img {
        margin:auto 0;
        height:auto;
    }
}

/* Small devices : phones */
@media (max-width: 768px) {


    body {
        font-size: 32px;
    }

    .container {
        padding:0;
    }

    /* ------ HEADER ------ */

    header .container {
        flex-direction: column;
        height: 265px;
    }

    header nav { 
        width:100%;
    }

    nav li { 
        flex:1;
        text-align: center;
    }

    nav a {
        border-color: transparent;
        border-width: 5px;
        padding: 30px 0;
    }
    
    nav a:hover, .link-active {
        border-bottom-color:#0065FC;
        border-top-color:transparent;
        color: #0065FC;
    }

}