/* ------ BASE ------ */
/* #F2F2F2 (gris), #0065FC (bleu), #DEEBFF (bleu clair) */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.container {
    margin-inline: auto; /* centrage horizontal */
    max-width: 1440px; /* desktop first */
    padding:0 55px;
}

header,
main,
footer {
    width: 100%;
    /* display: block; */
}

ul { 
    list-style: none; 
    padding: 0;
    margin: 0;
}

a { 
    color: black;
    text-decoration: none;
}

/* img {
    display: block;
    max-width:100%;
    height:auto;
} */

/* ------ HEADER ------ */
header .container {
    display: flex;
    align-items: center; /* ? != maquette  */
    justify-content: space-between;
    height: 130px;
}

header img { /* ? ajouter une classe .logo */
    height:50px; /* ? sur le svg 60px, avec pixel perfect */
}

nav {
    align-self: start; /* alignement en haut */
}

nav ul { 
    display: flex;
}

nav a { /* ? ajouter une classe ou nav ul li a */
    display: block; 
    padding:55px 35px; /* ? centrage vertical */
    border-top:2px solid transparent;
    border-bottom:2px solid transparent;
}

nav a:hover, .link-active {
    border-top-color: #0065FC;
    color: #0065FC;
}

/* ------ FILTERS ------ */

/* ------ ACCOMODATIONS ------ */*

/* ------ POPULAR ACCOMODATIONS ------ */

/* ------ ACTIVITIES ------ */

/* ------ FOOTER ------ */