/* ------ BASE ------ */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
	font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.container {
    margin-inline: auto;
    max-width: 1440px;
    padding-left: 55px;
    padding-right: 25px;
}

header, main, footer {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
}

/* ------ HEADER & NAV ------ */
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 115px;
}

header .container img {
    height: 29px;
    margin-top:16px;
    padding-left: 13px;
}

nav ul {
    padding:0;
    margin: 0;
    display: flex;
    text-align: center;
}

nav li {
    height: 100%;
}

nav a {
    display: block;
    width: 162px;
    padding: 47px 0; /* alignement vertical */
    text-decoration: none;
    color: black;
    border-top: 2px solid #FFF;
}

nav li a:hover, .active {
    border-top: 2px solid #0065FC;
    color: #0065FC;
 }

/* ------ FILTERS ------ */

.filters__header h1 {
    font-size: 22px;
    margin: 12px 0px 0px 0px;
}

.filters_header p {
    padding:0;
    margin:0;
}

.filters__form {
    display: flex;
    height: 50px;
    font-size: 18px;
    margin:0;
    padding:0;
}

.filters__form__logo {
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    text-align: center;
}

.filters__form__logo {
    display: flex;
    align-items: center;        
}

.filters__form__logo > i {
    width:50px;
  /*  padding: 15px 0; */
}

.filters__form input[type="text"] {
    border: 1px solid #F2F2F2;
    font-weight: 600;
    color: #000;
    padding-left: 15px;
    width: 235px;
}

.filters_submit {
    background-color: #0065FC;
    color: #fff;
    border-style: none;
    font-weight: 600;
}

.filters_submit--desktop {
    padding: 0px 18px;
    border-radius: 0px 15px 15px 0px;
}

.filters_submit--mobile {
    display: none;
}

.filters__select {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px 20px;
    font-weight: 600;
    margin: 23px 0;
    padding-left:8px;
    font-size:18px;
}

.filters__select p { margin-right: 10px; }

.filters__btn {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #ddd;
}

.filters__btn i {
    transform: translateX(-2px);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    border-radius: 50%;
    background-color: #DEEBFF;
}

.filters__btn span {
    padding-left: 12px;
    padding-right: 20px;
}

.filters__footer {
    font-size:16px;
    padding:1px 0;
    display: flex;
    align-items: center;
    gap: 0 5px;
}

.filters__footer__icon {
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border: 1px solid #ccc;
    text-shadow: 1px 0px 0px #0065FC;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

/* ------ LOCATIONS ------ */

/* ------ POPULAR LOCATIONS ------ */

/* ------ ACTIVITIES ------ */

/* ------ FOOTER ------ */
footer {
    background-color: #F2F2F2;
    padding: 2em;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 75%;
}

footer p {
    font-weight: 600;
}

footer ul {
    margin:0;
    padding:0;
    list-style: none;
}

footer li {
    padding: 0.2em 0;
}